--- 
  components: 
    schemas: 
      AgriParcelOperation: 
        $ref: "https://smart-data-models.github.io/dataModel.Agrifood/AgriParcelOperation/model.yaml#/AgriParcelOperation"
  info: 
    description: >-
      This entity contains a harmonised description of a generic operations performed on a parcel of land.
      This entity is primarily associated with the agricultural vertical and related IoT applications.
    title: AgriParcel
    version: "1.0.0"
  openapi: "3.0.0"
  
  # These paths are merely representative.
  paths: 
    /ngsi-ld/v1/entities: 
      get: 
        description: ""
        parameters: 
          - 
            in: query
            name: type
            required: true
            schema: 
              enum: 
                - AgriParcelOperation
              type: string
        responses: 
          ? "200"
          : 
            content: 
              application/ld+json: 
                examples: 
                  keyvalues: 
                    summary: "Key-Values Pairs"
                    value: 
                      - 
                        $ref: "https://smart-data-models.github.io/dataModel.AgrifoodAgriParcelOperation/examples/example-normalized.json"
                  normalized: 
                    summary: "Normalized NGSI-LD"
                    value: 
                      - 
                        $ref: "https://smart-data-models.github.io/dataModel.Agrifood/AgriParcelOperation/examples/example-normalized-ld.jsonld"
            description: OK
        tags: 
          - ngsi-ld
  tags: 
    - 
  
      description: "NGSI-LD Linked-data Format"
      name: ngsi-ld
